@page
@using Mondriaan.Core
@model IndexModel

<div class="text-center">
    <h2>Welcome</h2>

    <p><a href="/mondriaan">Mondriaan generator</a></p>

    <p><a href="/artworks">Artworks from DynamoDB</a></p>

    <p><a href="/intentionalerror">Intentional Error</a></p>
</div>
