@page
@using Mondriaan.Core
@model IndexModel

<div class="text-center">
    <h2>Welcome</h2>

    <a href="/mondriaan">Mondriaan generator</a>
    <a href="/artworks">Artworks from DynamoDB</a>
</div>
